.demo-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    .signer {
        width: 550px;
        height: 400px;
    }

    .start-sign-btn {
        background-color: rgba($color: #364dfc, $alpha: 0.8);
        color: white;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }

    .error-wrapper {
        border: 3px solid rgb(248, 11, 11);
        border-radius: 5px;
        margin-top: 20px;
        padding: 15px;
        text-align: center;
        background-color: rgba($color: rgb(248, 11, 11), $alpha: 0.2);
    }
    .success-wrapper {
        border: 3px solid rgb(11, 248, 27);
        border-radius: 5px;
        margin-top: 20px;
        padding: 15px;
        text-align: center;
        background-color: rgba($color: rgb(11, 248, 27), $alpha: 0.2);
    }
}